* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Medium.woff2');
    font-weight: 500;
}

:root {
    --background-sidebar: #f6f6f6;
    --background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

div.wrapper {
    display: flex;
}

.dashboard-navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.625rem 1.5rem;
    border-bottom: 2px solid #efefef;
    background-color: #fff;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-right: 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    font-weight: 900;
}

.dashboard-navbar .logo-navbar {
    margin-top: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

main.content {
    flex: 1;
    padding: 0px 1rem;
    background-color: #fff;
    margin-bottom: 20px;
}


div#defaultDisplay,
div#filterDisplay {
    margin: 20px 0;
}

div#defaultDisplay h2.subtitle {
    color: #E63E00;
}

div#defaultDisplay div.bx-header-lastprojects {
    margin-top: 15px;
    padding: 5px 20px;
}

div#defaultDisplay div.bx-header-lastprojects p#info-message {
    font-size: 14px;
    margin-top: 8px;
    color: #5c5b5b;
}

div#filterDisplay h2.subtitle {
    color: #E63E00;
}

div#filterDisplay div.bx-header-listsprojects {
    margin-top: 15px;
    padding: 5px 20px;
}

div#filterDisplay div.bx-header-listsprojects p.info-categories {
    font-size: 14px;
    margin-top: 8px;
    color: #5c5b5b;
}

div.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    min-width: 300px;
    width: 100%;
}

article.card-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all ease .3s;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

article.card-project:hover {
    transform: translateY(-8px);
    background-color: #f3f4f8;
}

article.card-project h2 {
    margin-bottom: 10px;
}

article.card-project p {
    font-size: 13px;
    margin-bottom: 8px;
    color: #616161;
}

article.card-project p.author {
    margin-bottom: 10px;
    font-weight: normal;
}

article.card-project p.author span {
    font-weight: bold;
}

article.card-project p.languages {
    margin-top: 10px;
}

article.card-project p.languages span {
    font-weight: bold;
    margin: 0px 10px;
}

article.card-project button#openGithub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 6px 10px;
    margin-top: 10px;
    background-color: #000;
    font-family: 'inter';
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

article.card-project p.cat {
    margin-top: 20px;
    font-weight: normal;
}

article.card-project p.cat span {
    font-weight: bold;
}

button#loadMore {
    display: flex;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;


}

div#modalAddProjeto {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 20;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
}

div#modalAddProjeto div#title-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

div#modalAddProjeto div#title-header h2 {
    font-weight: 300;
    font-size: 19px;
}

div#modalAddProjeto div#title-header button {
    border: none;
    color: #cecece;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    background: transparent;
}

div#modalAddProjeto div#title-header button:hover {
    color: #000;
}

div#modalAddProjeto div#body-modal span.message p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #5c5b5b;
    margin-bottom: 20px;
    font-size: 14px;
}

div#modalAddProjeto div#body-modal span.message strong {
    margin-bottom: 10px;
}

p.aviso {
    padding: 10px;
    font-size: 14px;
    background-color: #fff7ea;
    border: 1px solid #f8bf19;
    color: #000;
    border-radius: 8px;
    font-weight: bold;
}

div#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 10px;
    background-color: var(--background-sidebar);
    height: 60px;
}

footer p {
    font-size: 14px;
    color: #5c5b5b;
}

footer p a {
    color: #616161;
    text-decoration: none;
    font-weight: 600;
}